        /* Your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: whitesmoke;
            }

        nav {
            background-color: #131e17;
            color: white;
            padding: 30px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }

        nav ul li {
            display: inline;
            color: white;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

        section {
            padding: 20px;
        }

        #about-me {
            background-color: #44674c; /* Choose your desired background color */
            padding: 20px; /* Add padding for better visual separation */
            display: flex;
            justify-content: space-between;
          }

        #bio {
            align-self: flex-start;
        }

        #rest-of-bio {
            align-self: flex-end;
        }

        #projects {
            background-color: #fff2d7;
            padding: 20px;
        }
        #education {
            background-color: #bcceb2;
        }
        #experience {
            background-color: rgb(236, 221, 213);
        }
        .card-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .school {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .school1 {
            width: 200px;
            height: 200px;
            background-color: #fff2d7;
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(2, 31, 7, 0.1);
            opacity: 1; /* Set opacity to 1 to ensure visibility */
            border: 2px solid #44674c;
          }

        .card-image {
            max-width: 200px;
            max-height: 200px;
            object-fit: cover;
            border-radius: 8px; /* Optional: To match the card border radius */
        }


        .school1 .content {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
        }

        .school1 .front,
        .school1 .back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            opacity: 1;
        }

        .school1 .back {
            display: none;
            transform: rotateY(180deg);
            color: black; /* Change to white or any suitable color */
        }

        .back {
            color: black;
        }
        
    
        .school1.flipped {
            transform: rotateY(180deg);
          }
          
        .school1.flipped .front {
            display: none;
          }
          
        .school1.flipped .back {
            display: none;
        }

        .card {
            width: 250px;
            height: 350px;
            background-color: #fff2d7;;
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(2, 31, 7, 0.1);
            opacity: 0;
            animation: pop-up 0.5s ease forwards;
            transform: translateY(50px); /* Initially translate it down */
            border: 2px solid #44674c;
        }

        .card2 {
            width: 350px;
            background-color: #f1efef;
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(34, 7, 7, 0.1);
            animation: slide-in 2s ease forwards;
            opacity: 0;
            border: 2px dotted #1a6700;
        }

        @keyframes slide-in {
            from {
                opacity: 0;
                transform: translateX(-50px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
        .card2:nth-child(1) {
            animation-delay: 0.4s;
        }
        
        .card2:nth-child(2) {
            animation-delay: 0.8s;
        }
        
        .card2:nth-child(3) {
            animation-delay: 1.2s;
        }

        @keyframes pop-up {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .card:nth-child(1) {
            animation-delay: 0.3s;
        }
        
        .card:nth-child(2) {
            animation-delay: 0.6s;
        }
        
        .card:nth-child(3) {
            animation-delay: 0.9s;
        }
        .card:nth-child(4) {
            animation-delay: 1.3s;
        }
        .profile-picture {
            width: 250px;
            height: 250px;
            margin-bottom: 20px;
            display: inline-block;
            margin-right: 20px;
            margin-top: 50px;
            border-radius: 10px; 
          }
        
        .profile-text {
            font-size: 16px;
            line-height: 1.5;
            text-align: end;
        }
        .info {
            margin-right: 20px;
        }
        .button-container {
            display: flex;
            justify-content: flex-end;
            margin-right: 20px; /* Adjust margin as needed */
        }
        .resume-button {
            display: inline-block;
            padding: 10px 20px; /* Adjust padding to change button size */
            border: none;
            border-radius: 50px; /* 50% of the height to make it oval-shaped */
            background-color: #472828; /* Button color */
            color: white;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }
        
        .resume-button:hover {
            background-color: #280b0b; /* Darker color on hover */
        }